<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
 <li>
 	<a href="/">
 		{{ site.data.language.breadcrumb_start }}
 	</a>
 </li>

 {% assign crumbs = page.url | split: '/' %}
   {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
        <li class="current">{{ page.title }}</li>
    {% else %}
        <li>
        	<a href="{{ site.url }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' }}
        </li></a>
    {% endif %}
  {% endfor %}
</nav>
